# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Icon?*two
**/ios/**/Info.plist
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/.xcode.env
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Flutter.xcframework
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/GoogleService-Info.plist
**/ios/**/ServiceAccountKey.json
**/ios/**/.generated.dart
**/ios/**/flutter_root=
**/ios/**/GeneratedPluginRegistrant.*
**/ios/**/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**/ios/**/Runner.xcworkspace/contents.xcworkspacedata
**/macos/**/Flutter/Flutter.framework
**/macos/**/Flutter/Flutter.podspec
**/macos/**/Flutter/Flutter.xcframework
**/macos/**/Flutter/Generated.xcconfig
**/macos/**/Flutter/ephemeral/
**/macos/**/GoogleService-Info.plist
**/macos/**/ServiceAccountKey.json
**/macos/**/.generated.dart
**/macos/**/flutter_root=
**/macos/**/GeneratedPluginRegistrant.*
**/macos/**/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**/macos/**/Runner.xcworkspace/contents.xcworkspacedata
Pods/
Podfile.lock

# Android/gradle
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
key.properties
**/android/.signing/

# iOS/macOS/Android keystore files
**/android/app/debug.keystore
**/android/app/release.keystore
**/android/app/upload-keystore.jks

# Web platform
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Icon?*two
**/ios/**/Info.plist
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/.xcode.env
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Flutter.xcframework
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/GoogleService-Info.plist
**/ios/**/ServiceAccountKey.json
**/ios/**/.generated.dart
**/ios/**/flutter_root=
**/ios/**/GeneratedPluginRegistrant.*

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

# Coverage
coverage/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/packages/**/.packages
